.button {
    background: orange;
    height: 50px;
    width: 220px;
    top: 10px;
    border-style: groove;
    border-color: chocolate;
    border-width: 10px;
    margin-top: 5px;
}
h1 {
    color: white;
}
body{
    background-image: url("Pumpkin.jpg.webp");
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    
}

.game {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   flex-basis: 20%;
   height: 1000px;
}

div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.title{
   font-size: 120px;
   display: flex;
   align-items: center;
   font-weight: bold;
}
